@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --description-color: #727272;
    --primary-color: #ff900e;
}

* {
    margin: 0;
    padding: 0;
}

section {
    margin: 5% 0;
    padding: 0 228px;
}

.common-btn {
    padding: 20px 25px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.side-padding {
    padding: 0px 228px;
}

header {
    background: rgba(255, 144, 14, 0.10);
}

body {
    font-family: "Work Sans", serif;
}

/* nav style */
header {
    text-align: center;
}

nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

nav div h1 {
    font-size: 3rem;
    font-weight: 700;
}

nav div ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

.banner {
    padding-bottom: 3%;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 700;

}

.banner p {
    color: var(--description-color);
    width: 60%;
    margin: 0 auto;
    padding: 2%;
}

.banner img {
    margin-top: 3%;
}

/* quick list of our features */
.features {
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features h1 {
    font-size: 3rem;
    font-weight: 700;
}

.heading-color-1 {
    color: #727272;
    font-weight: 500;
}

.heading-color-2 {
    color: #ff900e;
}

.features-info {
    width: 40%;
}

.features p {
    color: var(--description-color);
    padding: 30px 0;
}

/* sponsors */
.sponsors-info{
    text-align: center;
    width: 30%;
    margin: 0 auto;
}
.sponsors-info h1{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 21px;
}
.sponsors-info p{
    color: var(--description-color);
}
.sponsors-img{
    padding: 50px 0 120px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
/* footer style */
footer {
    margin-bottom: 2%;
}
footer div{
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 400px;
    color: var(--description-color);
    text-align: center;
}